<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bing.bing.mapper.BingFilesMapper">
    
    <resultMap type="BingFiles" id="BingFilesResult">
        <result property="id"    column="id"    />
        <result property="recordId"    column="record_id"    />
        <result property="recordClassificationName"    column="record_classification_name"    />
        <result property="classificationName"    column="classification_name"    />
        <result property="fileName"    column="file_name"    />
        <result property="filePath"    column="file_path"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="updateTime"    />
    </resultMap>

    <sql id="selectBingFilesVo">
        select id, record_id, classification_name, file_name, file_path, status, create_by, create_time, update_by, updateTime from bing_files
    </sql>

    <select id="selectBingFilesList" parameterType="BingFiles" resultMap="BingFilesResult">
        <include refid="selectBingFilesVo"/>
        <where>  
            <if test="recordId != null "> and record_id = #{recordId}</if>
            <if test="recordClassificationName != null  and recordClassificationName != ''"> and record_classification_name = #{recordClassificationName}</if>
            <if test="classificationName != null  and classificationName != ''"> and classification_name like concat('%', #{classificationName}, '%')</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="updateTime != null "> and updateTime = #{updateTime}</if>
        </where>
    </select>

    <select id="selectBingFilesByRecordIds" resultMap="BingFilesResult">
        select
            bf.*
        from
            bing_patient_record bpr
            left join bing_files bf on bf.record_id = bpr.id
        where
            bf.status = 'Waiting Upload'
            and bpr.id in
        <foreach item="recordId" collection="list" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </select>

    <select id="selectBingFilesById" parameterType="Long" resultMap="BingFilesResult">
        <include refid="selectBingFilesVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBingFiles" parameterType="BingFiles" useGeneratedKeys="true" keyProperty="id">
        insert into bing_files
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordId != null">record_id,</if>
            <if test="recordClassificationName != null and recordClassificationName != ''">record_classification_name,</if>
            <if test="classificationName != null and classificationName != ''">classification_name,</if>
            <if test="fileName != null and fileName != ''">file_name,</if>
            <if test="filePath != null and filePath != ''">file_path,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
<!--            <if test="createTime != null">create_time,</if>-->
            create_time,
            <if test="updateBy != null">update_by,</if>
<!--            <if test="updateTime != null">updateTime,</if>-->
            updateTime
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordId != null">#{recordId},</if>
            <if test="recordClassificationName != null and recordClassificationName != ''">#{recordClassificationName},</if>
            <if test="classificationName != null and classificationName != ''">#{classificationName},</if>
            <if test="fileName != null and fileName != ''">#{fileName},</if>
            <if test="filePath != null and filePath != ''">#{filePath},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
<!--            <if test="createTime != null">#{createTime},</if>-->
            NOW(),
            <if test="updateBy != null">#{updateBy},</if>
<!--            <if test="updateTime != null">#{updateTime},</if>-->
            NOW()
         </trim>
    </insert>

    <update id="updateBingFiles" parameterType="BingFiles">
        update bing_files
        <trim prefix="SET" suffixOverrides=",">
            <if test="recordId != null">record_id = #{recordId},</if>
            <if test="recordClassificationName != null and recordClassificationName != ''">record_classification_name = #{recordClassificationName},</if>
            <if test="classificationName != null and classificationName != ''">classification_name = #{classificationName},</if>
            <if test="fileName != null and fileName != ''">file_name = #{fileName},</if>
            <if test="filePath != null and filePath != ''">file_path = #{filePath},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            update_by = #{updateBy},
            updateTime = NOW()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBingFilesById" parameterType="Long">
        delete from bing_files where id = #{id}
    </delete>

    <delete id="deleteBingFilesByIds" parameterType="String">
        delete from bing_files where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>