<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bing.bing.mapper.LegalDpnRequestMapper">

    <insert id="insertLegalDpnRequest" parameterType="LegalDpnRequest" useGeneratedKeys="true" keyProperty="id">
        insert into legal_dpn_request
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="staffNo != null and staffNo != ''">staff_no,</if>
            <if test="lpn != null and lpn != ''">lpn,</if>
            <if test="staffName != null">staff_name,</if>
            <if test="email != null">email,</if>
            <if test="office != null">office,</if>
            <if test="serviceLine != null">service_line,</if>
            <if test="rankName != null">rank_name,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            created,
            <if test="status != null and status != ''">status,</if>
            <if test="rejectReason != null">reject_reason,</if>
            <if test="returnedDate != null">returned_date,</if>
            <if test="deviceType != null">device_type,</if>
            <if test="eyAssetNo != null">ey_asset_no,</if>
            <if test="serialNo != null">serial_no,</if>
            <if test="remark != null">remark,</if>
            <if test="receivedBy != null">received_by,</if>
            <if test="engagementCode != null">engagement_code,</if>
            <if test="engagementName != null">engagement_name,</if>
            <if test="cancelReason != null">cancel_reason,</if>
            <if test="fidsReceivedBy != null">FIDS_received_by,</if>
            <if test="fidsReceivedDate != null">FIDS_received_date,</if>
            <if test="deviceLocation != null">device_location,</if>
            <if test="approved != null">approved,</if>
            <if test="rejected != null">rejected,</if>
            <if test="approver != null">approver,</if>
            <if test="rejecter != null">rejecter,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="staffNo != null and staffNo != ''">#{staffNo},</if>
            <if test="lpn != null and lpn != ''">#{lpn},</if>
            <if test="staffName != null">#{staffName},</if>
            <if test="email != null">#{email},</if>
            <if test="office != null">#{office},</if>
            <if test="serviceLine != null">#{serviceLine},</if>
            <if test="rankName != null">#{rankName},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            sysdate(),
            <if test="status != null and status != ''">#{status},</if>
            <if test="rejectReason != null">#{rejectReason},</if>
            <if test="returnedDate != null">#{returnedDate},</if>
            <if test="deviceType != null">#{deviceType},</if>
            <if test="eyAssetNo != null">#{eyAssetNo},</if>
            <if test="serialNo != null">#{serialNo},</if>
            <if test="remark != null">#{remark},</if>
            <if test="receivedBy != null">#{receivedBy},</if>
            <if test="engagementCode != null">#{engagementCode},</if>
            <if test="engagementName != null">#{engagementName},</if>
            <if test="cancelReason != null">#{cancelReason},</if>
            <if test="fidsReceivedBy != null">#{fidsReceivedBy},</if>
            <if test="fidsReceivedDate != null">#{fidsReceivedDate},</if>
            <if test="deviceLocation != null">#{deviceLocation},</if>
            <if test="approved != null">#{approved},</if>
            <if test="rejected != null">#{rejected},</if>
            <if test="approver != null">#{approver},</if>
            <if test="rejecter != null">#{rejecter},</if>
        </trim>
    </insert>

    <sql id="requestConditions">
        <if test="staffNo != null  and staffNo != ''"> and staff_no = #{staffNo}</if>
        <if test="lpn != null  and lpn != ''"> and lpn = #{lpn}</if>
        <if test="staffName != null  and staffName != ''"> and staff_name like concat('%', #{staffName}, '%')</if>
        <if test="email != null  and email != ''"> and email = #{email}</if>
        <if test="offices != null and offices.length > 0">
            and office in
            <foreach collection="offices" item="office" open="(" close=")" separator=",">
                #{office}
            </foreach>
        </if>
        <if test="serviceLine != null  and serviceLine != ''"> and service_line = #{serviceLine}</if>
        <if test="rankName != null  and rankName != ''"> and rank_name like concat('%', #{rankName}, '%')</if>
        <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
        <if test="createdDateRange != null and createdDateRange.length == 2">
            and created BETWEEN #{createdDateRange[0], javaType=java.util.Date} AND #{createdDateRange[1],javaType=java.util.Date}
        </if>
        <if test="status != null  and status != ''"> and status = #{status}</if>
        <if test="rejectReason != null  and rejectReason != ''"> and reject_reason = #{rejectReason}</if>
        <if test="returnedDateRange != null and returnedDateRange.length == 2">
            and returned_date BETWEEN #{returnedDateRange[0], javaType=java.util.Date} AND #{returnedDateRange[1],javaType=java.util.Date}
        </if>
        <if test="deviceType != null  and deviceType != ''"> and device_type = #{deviceType}</if>
        <if test="eyAssetNo != null  and eyAssetNo != ''"> and ey_asset_no = #{eyAssetNo}</if>
        <if test="serialNo != null  and serialNo != ''"> and serial_no = #{serialNo}</if>
        <if test="receivedBy != null  and receivedBy != ''"> and received_by = #{receivedBy}</if>
        <if test="engagementCode != null  and engagementCode != ''"> and engagement_code = #{engagementCode}</if>
        <if test="engagementName != null  and engagementName != ''"> and engagement_name like concat('%', #{engagementName}, '%')</if>
        <if test="cancelReason != null  and cancelReason != ''"> and cancel_reason = #{cancelReason}</if>
        <if test="fidsReceivedBy != null  and fidsReceivedBy != ''"> and FIDS_received_by = #{fidsReceivedBy}</if>
        <if test="fidsReceivedDate != null and fidsReceivedDate.length == 2">
            and FIDS_received_date BETWEEN #{fidsReceivedDate[0], javaType=java.util.Date} AND #{fidsReceivedDate[1],javaType=java.util.Date}
        </if>
        <if test="deviceLocation != null  and deviceLocation != ''"> and device_location = #{deviceLocation}</if>
        <if test="approvedDateRange != null and approvedDateRange.length == 2">
            and approved BETWEEN #{approvedDateRange[0], javaType=java.util.Date} AND #{approvedDateRange[1],javaType=java.util.Date}
        </if>
        <if test="rejectedDateRange != null and rejectedDateRange.length == 2">
            and rejected BETWEEN #{rejectedDateRange[0], javaType=java.util.Date} AND #{rejectedDateRange[1],javaType=java.util.Date}
        </if>
        <if test="approver != null  and approver != ''"> and approver = #{approver}</if>
        <if test="rejecter != null  and rejecter != ''"> and rejecter = #{rejecter}</if>
        <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
    </sql>

    <sql id="countConditions">
        <if test="staffNo != null  and staffNo != ''"> and T1.staff_no = #{staffNo}</if>
        <if test="lpn != null  and lpn != ''"> and T1.lpn = #{lpn}</if>
        <if test="staffName != null  and staffName != ''"> and T1.staff_name like concat('%', #{staffName}, '%')</if>
        <if test="email != null  and email != ''"> and T1.email = #{email}</if>
        <if test="offices != null and offices.length > 0">
            and T1.office in
            <foreach collection="offices" item="office" open="(" close=")" separator=",">
                #{office}
            </foreach>
        </if>
        <if test="serviceLine != null  and serviceLine != ''"> and T1.service_line = #{serviceLine}</if>
        <if test="rankName != null  and rankName != ''"> and T1.rank_name like concat('%', #{rankName}, '%')</if>
        <if test="createdBy != null  and createdBy != ''"> and T1.created_by = #{createdBy}</if>
        <if test="createdDateRange != null and createdDateRange.length == 2">
            and T1.created BETWEEN #{createdDateRange[0], javaType=java.util.Date} AND #{createdDateRange[1],javaType=java.util.Date}
        </if>
        <if test="rejectReason != null  and rejectReason != ''"> and reject_reason = #{rejectReason}</if>
        <if test="returnedDateRange != null and returnedDateRange.length == 2">
            and T1.returned_date BETWEEN #{returnedDateRange[0], javaType=java.util.Date} AND #{returnedDateRange[1],javaType=java.util.Date}
        </if>
        <if test="deviceType != null  and deviceType != ''"> and T1.device_type = #{deviceType}</if>
        <if test="eyAssetNo != null  and eyAssetNo != ''"> and T1.ey_asset_no = #{eyAssetNo}</if>
        <if test="serialNo != null  and serialNo != ''"> and T1.serial_no = #{serialNo}</if>
        <if test="receivedBy != null  and receivedBy != ''"> and T1.received_by = #{receivedBy}</if>
        <if test="engagementCode != null  and engagementCode != ''"> and T1.engagement_code = #{engagementCode}</if>
        <if test="engagementName != null  and engagementName != ''"> and T1.engagement_name like concat('%', #{engagementName}, '%')</if>
        <if test="cancelReason != null  and cancelReason != ''"> and T1.cancel_reason = #{cancelReason}</if>
        <if test="fidsReceivedBy != null  and fidsReceivedBy != ''"> and T1.FIDS_received_by = #{fidsReceivedBy}</if>
        <if test="fidsReceivedDate != null and fidsReceivedDate.length == 2">
            and T1.FIDS_received_date BETWEEN #{fidsReceivedDate[0], javaType=java.util.Date} AND #{fidsReceivedDate[1],javaType=java.util.Date}
        </if>
        <if test="deviceLocation != null  and deviceLocation != ''"> and device_location = #{deviceLocation}</if>
        <if test="approvedDateRange != null and approvedDateRange.length == 2">
            and T1.approved BETWEEN #{approvedDateRange[0], javaType=java.util.Date} AND #{approvedDateRange[1],javaType=java.util.Date}
        </if>
        <if test="rejectedDateRange != null and rejectedDateRange.length == 2">
            and T1.rejected BETWEEN #{rejectedDateRange[0], javaType=java.util.Date} AND #{rejectedDateRange[1],javaType=java.util.Date}
        </if>
        <if test="approver != null  and approver != ''"> and T1.approver = #{approver}</if>
        <if test="rejecter != null  and rejecter != ''"> and T1.rejecter = #{rejecter}</if>
        <if test="remark != null  and remark != ''"> and remark = #{remark}</if>
    </sql>

    <resultMap type="LegalDpnRequestCountDTO" id="RequestCountResult">
        <result property="totalCount"    column="totalCount"    />
        <result property="approvedCount"    column="approvedCount"    />
        <result property="cancelledByITCount"    column="cancelledByITCount"    />
        <result property="formattedCount"    column="formattedCount"    />
        <result property="waitingForConfirmationCount"    column="waitingForConfirmationCount"    />
        <result property="pendingLegalReviewCount"    column="pendingLegalReviewCount"    />
    </resultMap>

    <select id="count" parameterType="LegalDpnRequestFilterDTO" resultMap="RequestCountResult">
        select
            count(1) totalCount,
            count(case when (T1.status = 'Approved') then 1 else null end) approvedCount,
            count(case when (T1.status = 'Cancelled by IT') then 1 else null end) cancelledByITCount,
            count(case when (T1.status = 'Formatted') then 1 else null end) formattedCount,
            count(case when (T1.status = 'Rejected') then 1 else null end) rejectedCount,
            count(case when (T1.status = 'Waiting for Confirmation') then 1 else null end) waitingForConfirmationCount,
            count(case when (T1.status = 'Pending Legal Review') then 1 else null end) pendingLegalReviewCount
        from
            legal_dpn_request AS T1
        <where>
            <include refid="countConditions"/>
            <include refid="filterConditions"/>
        </where>
    </select>

    <resultMap type="LegalDpnRequest" id="LegalDpnRequestResult">
        <result property="id"    column="id"    />
        <result property="staffNo"    column="staff_no"    />
        <result property="lpn"    column="lpn"    />
        <result property="staffName"    column="staff_name"    />
        <result property="email"    column="email"    />
        <result property="office"    column="office"    />
        <result property="serviceLine"    column="service_line"    />
        <result property="rankName"    column="rank_name"    />
        <result property="createdBy"    column="created_by"    />
        <result property="created"    column="created"    />
        <result property="status"    column="status"    />
        <result property="rejectReason"    column="reject_reason"    />
        <result property="returnedDate"    column="returned_date"    />
        <result property="deviceType"    column="device_type"    />
        <result property="eyAssetNo"    column="ey_asset_no"    />
        <result property="serialNo"    column="serial_no"    />
        <result property="remark"    column="remark"    />
        <result property="receivedBy"    column="received_by"    />
        <result property="engagementCode"    column="engagement_code"    />
        <result property="engagementName"    column="engagement_name"    />
        <result property="cancelReason"    column="cancel_reason"    />
        <result property="fidsReceivedBy"    column="FIDS_received_by"    />
        <result property="fidsReceivedDate"    column="FIDS_received_date"    />
        <result property="deviceLocation"    column="device_location"    />
        <result property="approved"    column="approved"    />
        <result property="rejected"    column="rejected"    />
        <result property="approver"    column="approver"    />
        <result property="rejecter"    column="rejecter"    />
        <result property="updateBy"    column="updateBy"    />
        <result property="updateTime"    column="updateTime"    />
        <result property="newStatus"    column="new_status"    />
    </resultMap>

    <sql id="selectLegalDpnRequestVo">
        select
            id,
            staff_no,
            lpn,
            staff_name,
            email,
            office,
            service_line,
            rank_name,
            created_by,
            created,
            status,
            reject_reason,
            returned_date,
            device_type,
            ey_asset_no,
            serial_no,
            remark,
            received_by,
            engagement_code,
            engagement_name,
            cancel_reason,
            FIDS_received_by,
            FIDS_received_date,
            device_location,
            approved,
            rejected,
            approver,
            rejecter,
            updateBy,
            updateTime
        from
            legal_dpn_request
    </sql>

    <select id="selectLegalDpnRequestById" parameterType="Long" resultMap="LegalDpnRequestResult">
        <include refid="selectLegalDpnRequestVo"/>
        where id = #{id}
    </select>

    <update id="updateLegalDpnRequest" parameterType="LegalDpnRequest">
        update legal_dpn_request
        <trim prefix="SET" suffixOverrides=",">
            <if test="staffNo != null and staffNo != ''">staff_no = #{staffNo},</if>
            <if test="lpn != null and lpn != ''">lpn = #{lpn},</if>
            <if test="staffName != null">staff_name = #{staffName},</if>
            <if test="email != null">email = #{email},</if>
            <if test="office != null">office = #{office},</if>
            <if test="serviceLine != null">service_line = #{serviceLine},</if>
            <if test="rankName != null">rank_name = #{rankName},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="created != null">created = #{created},</if>
            <if test="newStatus != null and newStatus != ''">status = #{newStatus},</if>
            <if test="rejectReason != null">reject_reason = #{rejectReason},</if>
            <if test="returnedDate != null">returned_date = #{returnedDate},</if>
            <if test="deviceType != null">device_type = #{deviceType},</if>
            <if test="eyAssetNo != null">ey_asset_no = #{eyAssetNo},</if>
            <if test="serialNo != null">serial_no = #{serialNo},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="receivedBy != null">received_by = #{receivedBy},</if>
            <if test="engagementCode != null">engagement_code = #{engagementCode},</if>
            <if test="engagementName != null">engagement_name = #{engagementName},</if>
            <if test="cancelReason != null">cancel_reason = #{cancelReason},</if>
            <if test="fidsReceivedBy != null">FIDS_received_by = #{fidsReceivedBy},</if>
            <if test="fidsReceivedDate != null">FIDS_received_date = #{fidsReceivedDate},</if>
            <if test="deviceLocation != null">device_location = #{deviceLocation},</if>
            <if test="approved != null">approved = #{approved},</if>
            <if test="rejected != null">rejected = #{rejected},</if>
            <if test="approver != null">approver = #{approver},</if>
            <if test="rejecter != null">rejecter = #{rejecter},</if>
            <if test="updateBy != null">updateBy = #{updateBy},</if>
            updateTime = sysdate(),
        </trim>
        where id = #{id}
    </update>

    <select id="comparePendingList" resultMap="LegalDpnRequestResult">
        select
            t1.id,
            t1.created_by,
            t1.staff_name,
            t1.office,
            t1.approver,
            t1.approved,
            t1.rejected,
            t1.rejecter,
            t1.staff_no,
            t1.email,
            t1.service_line,
            t1.rank_name,
            (case when t1.lpn in (select lp.lpn from legal_pending lp ) then 'Pending Legal Review' else 'Approved' end) new_status,
            t1.status
        from
            ( select
                ldr.id,
                ldr.status,
                ldr.lpn,
                ldr.created_by,
                ldr.staff_name,
                ldr.office,
                ldr.approver,
                ldr.approved,
                ldr.rejected,
                ldr.rejecter,
                ldr.staff_no,
                ldr.email,
                ldr.service_line,
                ldr.rank_name
            from
                legal_dpn_request ldr
            where
                ldr.status = 'Waiting for Confirmation'
            ) as t1
    </select>

    <update id="batchUpdateLegalDpnRequest" parameterType="java.util.List">
        update legal_dpn_request
        <set>
            status =
            <foreach collection="list" item="item" index="index"
                     separator=" " open="case id" close="end">
                when #{item.id} then #{item.newStatus}
            </foreach>
            ,approved =
            <foreach collection="list" item="item" index="index"
                     separator=" " open="case id" close="end">
                when #{item.id} then #{item.approved}
            </foreach>
            ,approver =
            <foreach collection="list" item="item" index="index"
                     separator=" " open="case id" close="end">
                when #{item.id} then #{item.approver}
            </foreach>
            ,rejected =
            <foreach collection="list" item="item" index="index"
                     separator=" " open="case id" close="end">
                when #{item.id} then #{item.rejected}
            </foreach>
            ,rejecter =
            <foreach collection="list" item="item" index="index"
                     separator=" " open="case id" close="end">
                when #{item.id} then #{item.rejecter}
            </foreach>
        </set>
        where id IN
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.id}
        </foreach>
    </update>

    <sql id="filterConditions">
        <if test="findWhat != null and findWhat != ''">
            and (
                T1.staff_no like concat('%', #{findWhat}, '%') or
                T1.lpn like concat('%', #{findWhat}, '%') or
                T1.staff_name like concat('%', #{findWhat}, '%') or
                T1.email like concat('%', #{findWhat}, '%') or
                T1.office like concat('%', #{findWhat}, '%') or
                T1.service_line like concat('%', #{findWhat}, '%') or
                T1.rank_name like concat('%', #{findWhat}, '%') or
                T1.created_by like concat('%', #{findWhat}, '%') or
                T1.created like concat('%', #{findWhat}, '%') or
                T1.status like concat('%', #{findWhat}, '%') or
                T1.reject_reason like concat('%', #{findWhat}, '%') or
                T1.device_type like concat('%', #{findWhat}, '%') or
                T1.ey_asset_no like concat('%', #{findWhat}, '%') or
                T1.serial_no like concat('%', #{findWhat}, '%') or
                T1.received_by like concat('%', #{findWhat}, '%') or
                T1.engagement_code like concat('%', #{findWhat}, '%') or
                T1.engagement_name like concat('%', #{findWhat}, '%') or
                T1.cancel_reason like concat('%', #{findWhat}, '%') or
                T1.FIDS_received_by like concat('%', #{findWhat}, '%') or
                T1.device_location like concat('%', #{findWhat}, '%') or
                T1.approved like concat('%', #{findWhat}, '%') or
                T1.rejected like concat('%', #{findWhat}, '%') or
                T1.approver like concat('%', #{findWhat}, '%') or
                T1.rejecter like concat('%', #{findWhat}, '%') or
                T1.remark like concat('%', #{findWhat}, '%')
            )
        </if>
        <if test="scope != null and scope.length > 0">
            and T1.office in
            <foreach collection="scope" item="office" open="(" close=")" separator=",">
                #{office}
            </foreach>
        </if>
    </sql>

    <select id="selectLegalDpnRequestList" parameterType="LegalDpnRequestFilterDTO" resultMap="LegalDpnRequestResult">
        select T1.* from
        (
            select
                id,
                staff_no,
                lpn,
                staff_name,
                email,
                office,
                service_line,
                rank_name,
                created_by,
                created,
                status,
                reject_reason,
                returned_date,
                device_type,
                ey_asset_no,
                serial_no,
                remark,
                received_by,
                engagement_code,
                engagement_name,
                cancel_reason,
                FIDS_received_by,
                FIDS_received_date,
                device_location,
                approved,
                rejected,
                approver,
                rejecter,
                updateBy,
                updateTime
            from
                legal_dpn_request
            <where>
                <include refid="requestConditions"/>
            </where>
        order by updateTime desc, id desc) as T1
        <where>
            <include refid="filterConditions"/>
        </where>
    </select>

<!--    <delete id="deleteLegalDpnRequestById" parameterType="Long">-->
<!--        delete from legal_dpn_request where id = #{id}-->
<!--    </delete>-->

<!--    <delete id="deleteLegalDpnRequestByIds" parameterType="String">-->
<!--        delete from legal_dpn_request where id in -->
<!--        <foreach item="id" collection="array" open="(" separator="," close=")">-->
<!--            #{id}-->
<!--        </foreach>-->
<!--    </delete>-->
</mapper>